*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Custom ignores
*.jks
*.keystore
secrets.properties

# Built variants
*.apk
*.aar
*.ap_
*.aab

# Java class files
*.class

# Log Files
*.log
